.profile {
  &__container {
    margin-top: 55px;
    @include flex($dir: column, $just: center, $align: center);
    color: $dark-blue;
    text-align: center;
  }
  &__name {
    font-weight: 700;
    @include profile_card;
  }
  &__age,
  &__city {
    font-weight: 300;
    @include profile_card;
  }
  &__city {
    width: 100%;
    font-size: 0.75em;
    border-bottom: 1px solid lighten($dark-grey, 20%);
    padding-bottom: 16px;
  }
}
