.profile {
  &__container {
    margin-top: 65px;
    @include flex($dir: column, $just: center, $align: center);
    color: $dark-blue;
    text-align: center;
  }
  &__name {
    font-weight: 700;
    @include profile_card;
  }
  &__age,
  &__city {
    font-weight: 300;
    @include profile_card;
  }
  &__city {
    width: 100%;
    font-size: 0.75em;
    border-bottom: 1px solid lighten($dark-grey, 20%);
    padding-bottom: 26px;
  }
}

.social {
  &__container {
    margin-top: 20px;
    @include flex($dir: row, $just: space-around, $align: center);
    width: 100%;
    color: $dark-blue;
  }
  &__info {
    font-weight: 700;
    @include profile_card;
    @include flex($dir: column, $just: space-between, $align: center);
    &-type {
      font-weight: 300;
      font-size: 0.5em;
      letter-spacing: 1px;
      @include profile_card;
    }
  }
}
