// Colors

$white: #fff;
$black: #000;
$background: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$grey-blue: hsl(227, 10%, 46%);
$dark-grey: hsl(0, 0%, 59%);

// Typography

$font-size: 18px;
$font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;

// Media Breakpoints

$break-m: 768px;
$break-l: 1024px;

$max-width: 1200px;
