body {
  background-color: $background;
  font-size: $font-size;
  font-family: $font-family;
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-position: top -550px left -780px, top 200px right -740px;
  background-repeat: no-repeat;
  @include medq($break-m) {
    background-position: top -550px left -480px, top 200px right -400px;
  }
}

.wrapper {
  height: 100vh;
  width: 100vw;
  @include flex($dir: column, $just: center, $align: center);
}

.outer-container {
  position: absolute;
  height: 60%;
  width: 90%;
  border-radius: 10px;
  background: white;
  @include flex($dir: column);
  position: relative;
}

.header {
  background-image: url("../images/bg-pattern-card.svg");
  border-radius: 10px 10px 0px 0px;
  background-size: cover;
  height: 30%;
}
